/* General Appearance */
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	line-height: 1;
	background-color: #edefed; 
}

*, *:before, *:after {
	box-sizing: inherit;
}

div {
	/*border: 1px solid chocolate;*/
}

header h1 {
	font: 40px/40px 'Coming Soon', cursive;
	color: #da6a7d;
	text-align: center;
	padding: 5px;
}

ul {
	list-style: none;
	padding: 0;
	text-align: center;
}

.container {
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	width: 800px;
}

/* Cat pic and button section */
.cat {
	background-image: url('../images/cat-without-yarn.png');
	background-position: center;
	background-repeat: no-repeat;
	z-index: -1;
	height: 570px;
	margin-top: -20px;
}

.cat:hover {
	cursor: pointer;
}

/* yarn */
.meow {
	padding-top: 350px;
	padding-left: 350px;
}

.yarn {
	position: relative;
	width: 100%;
}

.yarn img {
	position: absolute;
}

img.justyarn {
	width: 800px;
}

.meow > button {
	font: 40px/40px 'Coming Soon', cursive; 
	text-align: center;
	color: #58595B;
	display: inline-block;
	border: none;
	background-color: transparent;
	vertical-align: top;
	cursor: pointer;
	outline: none;
	overflow: hidden;
}

.meow > button.newgame {
	display: none;
}

 /* Question itself */
 .questions {
    width: 400px;
    margin-left: 200px;
    margin-right: 200px;
}

 .question {
	font: 20px/20px 'Coming Soon', sans-serif;
	color: #000;
	text-align: center;
}

/* Questions options */
.questions .options {
	font: 16px/16px 'Coming Soon', sans-serif;
	color: #000;
}

.questions .options > li {
	padding: 20px 0;
	line-height:10px;
}

.questions .options > li:hover {
	cursor: pointer;
	border: 1px solid #da6a7d;
	border-radius: 20px;
	width: 400px;
	height: 50px;
}

/* New Game */
.startover button.newgame {
	font: 20px/20px 'Coming Soon', sans-serif;
	color: #da6a7d;
	border: 1px solid #da6a7d;
	border-radius: 20px;
	padding: 10px;
	text-align: center;
	margin-left: 350px;
	margin-top: 40px;
	margin-bottom: 40px;
}

